<header class="site-header">
  <a href="https://protocol.us" class="logo">
    <img src="/assets/icon-nav.svg" alt="" class="logo-icon">
    <img src="/assets/logo-dark.svg" alt="Protocol" class="logo-img">
  </a>
</header>
